@using JijaShop.Api.ViewModels;
@model OwlCarouselViewModel

<div class="container">
    <div class="owl-carousel">
        @foreach(var product in Model?.Products)
        {
            <div class="owl-carousel-item">
                <div class="col product-big-img">
                    <a asp-area="UserArea" asp-controller="Products" asp-action="Product" asp-route-productName="@product.Name">
                        <img src="@product.ProductImageDto.ImagePathDto" />
                    </a>
                </div>

                <div class="col">
                    <div class="row">

                        <div class="col-6">
                            <h2 class="text-center my-2 mx-1">@product.Name</h2>
                        </div>

                        <div class="col-6">
                            <div class="product-details-big-price d-flex justify-content-end m-1 px-1">
                                @if (product.ProductDetailsDto.OldPrice != null && product.ProductDetailsDto.OldPrice != 0)
                                {
                                    <small class="">@product.ProductDetailsDto.OldPrice$</small>
                                }
                                @product.ProductDetailsDto.Price$
                            </div>
                        </div>

                    </div>
                </div>

                <div class="col px-2">
                    <p style="overflow:hidden">
                        @product.ProductDetailsDto.Description
                    </p>
                </div>

            </div>
        }
    </div>
</div>